@font-face {
  src: url("./fonts/GothamNarrow-Book.otf");
  font-family: 'Gotham Narrow Book'; }
@font-face {
  src: url("./fonts/GothamNarrow-Medium.otf");
  font-family: 'Gotham Narrow Medium'; }
@font-face {
  src: url("./fonts/GothamXNarrow-Thin.otf");
  font-family: 'Gotham Narrow Thin'; }
body, body > div:not(:first-of-type) {
  overflow-x: hidden; }

* {
  font-family: "Gotham Narrow Book"; }

header {
  background: #3f0a73; }

body > div:not(:first-of-type):not(#common-home):not(.fixed) {
  padding: 3rem 0;
  border-top: 10px solid #3f0a73; }

.input-group-addon {
  padding: 2px 7px;
  height: calc(1.5em + .5rem + 3.5px);
  margin: 0 !important;
  background-color: #eee;
  border: 1px solid #ccc;
  border-right: 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: #666;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.breadcrumb {
  background: none;
  padding: 0; }
  .breadcrumb .fa.fa-home {
    font-size: 20px; }
  .breadcrumb li {
    margin-right: 1rem; }
    .breadcrumb li a {
      color: #444; }

.w-40 {
  width: 40% !important; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: unset !important;
  z-index: 99;
  padding: 0;
  margin: 0;
  overflow: unset !important; }
  .fixed:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: #3f0a73;
    opacity: 0;
    transition: all 1s; }
  .fixed.active:after {
    opacity: 1; }

.vertical-middle {
  vertical-align: middle !important; }

.btn-primary {
  background: #3f0a73 !important;
  border-color: #3f0a73 !important; }

.btn-lightpurple {
  background: #ee05f2 !important;
  border-color: #ee05f2 !important;
  color: #fff !important; }

.border-radius-0 {
  border-radius: 0 !important; }

.text-lightblack {
  color: #212529 !important; }

.text-lightpurple {
  color: #ee05f2 !important; }

.text-purple {
  color: #3f0a73 !important; }

.text-lightgray {
  color: #ddd !important; }

.bg-primary {
  background: #3f0a73 !important; }

.alert {
  position: fixed !important;
  bottom: 1rem;
  right: 1rem;
  z-index: 9;
  max-width: 300px;
  color: #fff !important;
  border: none !important;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-name: disapear;
  animation-fill-mode: forwards; }
  .alert.alert-success {
    background-color: rgba(36, 188, 122, 0.85) !important; }
    .alert.alert-success * {
      color: #fff !important; }
  .alert.alert-warning {
    background-color: rgba(255, 200, 0, 0.3) !important;
    color: #444 !important; }
    .alert.alert-warning * {
      color: #444 !important; }
  .alert.alert-danger {
    background-color: rgba(195, 10, 45, 0.8) !important;
    color: #fff !important; }
    .alert.alert-danger * {
      color: #fff !important; }

@keyframes disapear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.custom-check-input {
  display: none; }
  .custom-check-input:checked ~ .custom-check:before {
    background-color: #3f0a73;
    border-color: #3f0a73; }
  .custom-check-input:checked ~ .custom-check:after {
    content: '\f00c';
    font-family: 'Font Awesome 5 Pro';
    color: #fff;
    position: absolute;
    left: 1.5px;
    font-size: 11px;
    top: 4px; }

.custom-check {
  position: relative;
  padding-left: 1.25rem; }
  .custom-check label {
    cursor: pointer !important; }
  .custom-check:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    height: 13px;
    width: 13px;
    border-radius: 1px;
    display: block;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: all .15s; }

#carousel-carrossel-home-mobile {
  display: none; }

@media (max-width: 768px) {
  #carousel-carrossel-home-mobile {
    display: block; }

  .carousel:not(#carousel-carrossel-home-mobile) {
    display: none; } }
#search {
  position: relative; }
  #search > button {
    position: absolute;
    right: 0;
    font-size: 1.25em;
    height: 100%;
    color: #f397f5;
    z-index: 9; }
  #search input[name=search] {
    border-radius: 30px; }
    #search input[name=search]::placeholder {
      color: #bbb !important; }

#cart > button.dropdown-toggle:after {
  content: unset !important; }
#cart > .dropdown-menu {
  position: fixed !important;
  transform: unset !important;
  right: unser;
  top: 0;
  height: 100vh;
  width: 400px;
  max-width: 90vw;
  margin-left: 0 !important;
  margin: 0;
  left: -100%;
  border: none;
  border-radius: 0;
  transition: left .75s;
  display: block !important;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-y: auto; }
  #cart > .dropdown-menu.show {
    left: 0; }
#cart a, #cart span {
  color: #fff !important;
  text-decoration: none !important; }
#cart .btn_remove {
  background: none;
  border: none;
  cursor: pointer; }
  #cart .btn_remove i {
    color: #dc3545;
    font-size: 18px; }
#cart table, #cart table tr, #cart table td {
  border: none; }
#cart table tr:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

@media (max-width: 1200px) {
  .navbar-mainmenu {
    max-width: 97.5%;
    /*this gives it the precise width to match the Bootstrap defaults*/ } }
.navbar-mainmenu .navbar ul li.nav-item a.nav-link {
  color: #000;
  text-transform: uppercase;
  font-family: "Gotham Narrow Book";
  font-weight: 600; }
  .navbar-mainmenu .navbar ul li.nav-item a.nav-link.dropdown-toggle:after {
    content: unset !important; }
.navbar-mainmenu .nav-item .dropdown-menu {
  left: unset;
  border: none;
  border-radius: 0;
  margin: 0; }

@media (max-width: 748px) {
  .navbar-mainmenu {
    position: fixed;
    top: 1.5rem;
    left: 0;
    z-index: 9;
    width: 0; }
    .navbar-mainmenu > .navbar {
      position: relative; }
      .navbar-mainmenu > .navbar > button {
        background-color: #fff;
        border-color: #3f0a73; }

  #navbarNavDropdown {
    position: absolute;
    top: 100%;
    width: calc(99vw - 30px);
    background-color: white;
    padding: 1rem 0px;
    box-shadow: #bbbbbb 0px 0px 5px;
    max-width: 375px; } }
#info-cards {
  margin: 1rem auto; }
  #info-cards .info-card {
    width: 80%;
    padding: .75rem 1rem;
    border-radius: 14px;
    font-size: 14px;
    transform: scale(0.95);
    transition: transform .25s; }
    #info-cards .info-card:hover {
      transform: scale(1); }
  #info-cards #frete {
    background-color: #ccc; }
  #info-cards #retirar {
    background-color: #7e118c; }
    #info-cards #retirar * {
      color: #fff; }
  #info-cards #presenteie {
    background-color: #3f0a73; }
    #info-cards #presenteie * {
      color: #fff; }

.products_list .list_title {
  position: relative; }
  .products_list .list_title:after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: calc(50% - 50px);
    width: 100px;
    height: 3px;
    background-color: #3f0a73; }
.products_list .product_unit {
  position: relative;
  border: 1px solid transparent; }
  .products_list .product_unit:hover {
    border-color: #ddd; }
    .products_list .product_unit:hover .btn-add {
      visibility: visible;
      opacity: 1; }
.products_list .btn-wishlist {
  background: none;
  border: none; }
  .products_list .btn-wishlist i {
    color: #ee05f2; }
.products_list .product_name {
  color: #262626;
  transition: color .25s;
  text-decoration: none !important; }
  .products_list .product_name:hover {
    color: #090909; }
.products_list .price-old {
  text-decoration: line-through; }
.products_list .product_name {
  height: 48px;
  overflow: hidden; }
.products_list .price_wrapper {
  height: 48px;
  overflow: hidden; }
.products_list .btn-add-wrapper {
  position: absolute;
  left: 0;
  right: 0; }
  .products_list .btn-add-wrapper .btn-add {
    width: 100%;
    background-color: #25c153;
    border: none;
    color: #fff;
    padding: 8px 16px;
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition: all .25s; }
.products_list .tag_special {
  position: absolute;
  background-color: #ee05f2;
  color: #fff;
  right: 1rem;
  top: 1rem;
  padding: .25rem;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: 'Gotham Narrow Medium';
  border-radius: 4px;
  border-top-right-radius: 14px; }

footer .social_media {
  color: #ee05f2; }
footer #disclaimer {
  background-color: #e6e6e6;
  color: #6c6c6c; }

#product-category .products_list .list_title {
  display: none; }
#product-category .list-group {
  border-radius: 0; }
  #product-category .list-group .list-group-item {
    padding: 0;
    margin-bottom: .75rem;
    border: none;
    color: #444; }
    #product-category .list-group .list-group-item.active {
      background: none;
      color: #3f0a73; }
#product-category .products_list {
  margin-top: 0 !important; }

#product-product #adittionals {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth; }
  #product-product #adittionals:last-child {
    margin-bottom: 48px; }
  #product-product #adittionals .scroll-adittionals {
    position: sticky;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    cursor: pointer; }
    #product-product #adittionals .scroll-adittionals.up {
      top: 0;
      background: linear-gradient(to bottom, #fff 70%, rgba(255, 255, 255, 0)); }
    #product-product #adittionals .scroll-adittionals.down {
      bottom: 0;
      background: linear-gradient(to top, #fff 70%, rgba(255, 255, 255, 0)); }
#product-product .oferta {
  background-color: #ee05f2;
  color: #fff;
  right: 1rem;
  top: 1rem;
  padding: .25rem;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: 'Gotham Narrow Medium';
  border-radius: 4px;
  border-top-right-radius: 14px;
  margin-bottom: 1rem;
  display: inline-block; }

#checkout-cart #table_totals tr {
  border-bottom: none !important; }
#checkout-cart .table thead tr, #checkout-cart .table tbody tr:last-of-type {
  border-bottom: 1px solid #dee2e6  !important; }
  #checkout-cart .table thead tr td, #checkout-cart .table tbody tr:last-of-type td {
    padding: 1rem 0 !important;
    font-size: 14px; }
#checkout-cart .totals table tr td {
  font-size: 14px !important; }
#checkout-cart .totals table tr:last-of-type td {
  padding-bottom: 0 !important; }
#checkout-cart .table, #checkout-cart .table thead, #checkout-cart .table tr, #checkout-cart .table td {
  border: none !important;
  padding: 1rem 0 !important; }
#checkout-cart .quantity {
  max-width: 200px;
  text-align: center;
  margin: 0 auto; }
#checkout-cart .small {
  font-size: 14px !important; }
#checkout-cart #btn_checkout {
  background-color: #56c454 !important;
  border: none;
  height: 48px !important;
  border-radius: 0 !important; }
#checkout-cart #btn_continue {
  height: 48px !important;
  border: 1px solid #444;
  border-radius: 0 !important; }
#checkout-cart .modules .btn {
  background: #7f118c !important;
  border-color: #7f118c !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  font-size: 13px;
  height: 100%; }
#checkout-cart .quantity_wrapper {
  position: relative; }
  #checkout-cart .quantity_wrapper .more, #checkout-cart .quantity_wrapper .less {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1;
    border: none;
    background-color: transparent;
    top: 0;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer; }
  #checkout-cart .quantity_wrapper .less {
    left: 20%; }
  #checkout-cart .quantity_wrapper .more {
    right: 20%; }
  #checkout-cart .quantity_wrapper .input-quantity {
    text-align: center;
    border-radius: 38px;
    font-weight: 900;
    font-size: 22px; }

/*# sourceMappingURL=stylesheet.css.map */
