<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <button type="button" class="btn btn-default py-0 px-3"><i class="fas fa-search"></i></button>
</div>