
<div class="col-12 col-md-4 px-lg-5 mb-3">

	<label class="control-label text-center text-md-left w-100" for="input-coupon">Possui cupom?</label>
	<div class="input-group">
	  	<input type="text" name="coupon" value="{{ coupon }}" id="input-coupon" class="form-control" placeholder="Código do cupom" />
	  	<span class="input-group-btn">
	 	<input type="button" value="Utilizar cupom" id="button-coupon" data-loading-text="{{ text_loading }}"  class="btn btn-primary" />
	</div>

<script type="text/javascript"><!--
	$('#button-coupon').on('click', function() {
	$.ajax({
		url: 'index.php?route=extension/total/coupon/coupon',
		type: 'post',
		data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-coupon').button('loading');
		},
		complete: function() {
			$('#button-coupon').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible').remove();

			if (json['error']) {
				$('.container.alerts').append('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				// $('html, body').animate({ scrollTop: 0 }, 'slow');
			}

			if (json['redirect']) {
				location = json['redirect'];
			}
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
</div>
